<div class="start_game_page_container">
    <div class="game_page_player_list">
        <app-player-list class="game_page_player_list" [players]="players"  (updateCorentPlayer)="updateCorentPlayer($event)" ></app-player-list>
    </div>
    <div class="game_page_game_board">
        <ng-container class="ng_container" *ngIf="current_player" >
            <div class="app-score-table">
                <h1>CURRENT PLAYER {{current_player.name}}</h1>
                <div class="score_component">
                    <app-game-board [current_player]="current_player"></app-game-board>
                    <div class="values">
                        <div  *ngFor="let number of button_numbers" >
                            <ng-container *ngIf="!button_undisabling[number-1]; else elseBlock">
                                <button disabled type="button" (click)="onSubmitButton(number)" >{{number}}</button>
                            </ng-container>
                            <ng-template #elseBlock>
                                <button type="button" (click)="onSubmitButton(number)" >{{number}}</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <button routerLink="/start_page/player_page/game_page/score">Score Page</button>
    </div>
    
</div>
