.home_container {
    height: 100%;
    width: 100%;
    display:flex; 
    align-items: center; 
    justify-content: center;
}

.home_start_game_btn {
    font-size: 10vw;
    border: none;
    background: rgb(255,0,0);
    background: linear-gradient(130deg, rgb(255,0,0) 15%, rgba(255,255,255,1) 50%, rgb(255,0,0) 85%);
    padding: 3vw;
    border-radius: 4vw;
    cursor: pointer;
}

.home_start_game_btn:hover {
    background: rgb(224,1,1);
    background: linear-gradient(230deg, rgba(224,1,1,1) 15%, rgba(255,255,255,1) 50%, rgba(224,1,1,1) 85%);
}

@media screen and (min-width: 768px) {
    .home_container {
        height: calc(100% - 4.1vw);
    }

    .home_start_game_btn {
        font-size: 3vw;
        padding: 1.5vw;
        border-radius: 1vw;
    }
}